# Files
.coverage
coverage.*
*.html

# Folders
Library
.idea
.ipynb_checkpoints
.tox
.vscode
_build
__pycache__

*.egg-info

.pytask.sqlite3

build
dist
src/pytask_markdown/_version.py

# Deck
deck_files
